input,
textarea,
button {
	border: none;
	padding: 0;
	margin: 0;
}
input:focus,
textarea:focus,
button:focus {
	outline: none;
}

main > input,
main > textarea {
	padding: 15px 20px;
	color: #000;
	background-color: #f3f3f3;
}
main > input::placeholder,
main > textarea::placeholder {
	color: #4a4a4a;
}

aside > section::-webkit-scrollbar,
main > textarea::-webkit-scrollbar {
	background-color: #ffffff14;
	width: 7px;
}
aside > section:hover::-webkit-scrollbar-track,
main > textarea:hover::-webkit-scrollbar-track {
	background-color: transparent;
}
aside > section:hover::-webkit-scrollbar-thumb,
main > textarea:hover::-webkit-scrollbar-thumb {
	background-color: #a0a0a0;
	border-radius: 5px;
}