*,
*:before,
*:after {
	box-sizing: border-box;
}

* {
	padding: 0;
	margin: 0;
}
.main {
	height: 100vh;
	width: 100%;
	margin: auto;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: #21252B;
}
audio {
	display: none;
}

.teclado {
	width: auto;
	height: 400px;
	background-color: transparent;
	overflow: hidden;
	display: flex;
}


.teclas:focus { outline: none; }
.teclas { border: none; }


.tecla--blanca{
	width: 150px;
	height: inherit;
	background-color: #f3f3f3;
	border-bottom-left-radius: 4px;
	border-bottom-right-radius: 4px;
	box-shadow: 0px 1px 10px #00000070;
	margin-right: 1px;
}
.tecla--blanca:last-child {
	margin: 0;
}
.tecla--blanca:active {
	background-color: #e0e0e0;
	box-shadow: none;
}
.tecla--blanca.active {
	background-color: #e0e0e0;
	box-shadow: none;
}


.tecla--negra {
	height: 250px;
	width: 90px;
	background-color: #111;
	margin-left: -45px;
	margin-right: -45px;
	border-bottom-left-radius: 3px;
	border-bottom-right-radius: 3px;
	box-shadow: -1px 1px 6px #00000070;
	z-index: 10;
}
.tecla--negra:active {
	background-color: #333;
	box-shadow: none;
}
.tecla--negra.active {
	background-color: #333;
	box-shadow: none;
}

@media screen and (max-width: 450px) {
	.main {
		min-height: 100vh;
		height: auto;
	}

	.teclado {
		width: 90%;
		height: auto;
		overflow: hidden;
		display: flex;
		flex-direction: column-reverse;
	}

	.tecla--blanca {
		height: 12vh;
		width: 100%;
		margin-right: 0;
		margin-bottom: 1px;
		border-bottom-left-radius: 0px;
		border-top-right-radius: 4px;
		border-bottom-right-radius: 4px;
	}
	.tecla--blanca:last-child {
		margin: 0;
	}

	.tecla--negra {
		--height: 7.4vh;
		height: var(--height);
		width: 60%;
		margin-left: 0;
		margin-right: 0;
		margin-top: calc(var(--height) / -2);
		margin-bottom: calc(var(--height) / -2);
		border-bottom-left-radius: 0px;
		border-top-right-radius: 4px;
		border-bottom-right-radius: 4px;
	}
}