*:after,
*:before,
* {
	box-sizing: border-box;
	font-family: 'JetBrains Mono', monospace;
}
body {
	background-color: #F3F3F3;
}
body.paralizado {
	overflow: hidden;
}
.dom {
	min-height: 100vh;
	height: auto;
	width: 100%;
}
.cont-elementos {
	max-width: 90%;
	width: 800px;
	margin: auto;
}


/* Header */
.header {
	height: 60px;
	width: 100%;
	background-color: #111;
	position: sticky;
	top: 0;
	left: 0;
	display: flex;
	align-items: center;
}
.header .cont-grid {
	display: grid;
	grid-template-columns: auto 1fr;
	align-items: center;
	padding: 0 1em;
}
.header .logo {
	color: #f3f3f3;
	font-size: 1.5em;
	font-weight: 900;
	margin-right: 2em;
}
.acciones {
	display: flex;
	align-items: center;
	justify-content: flex-end;
}
.header .acciones .input-busqueda {
	max-width: 400px;
	width: 100%;
	padding: .25em .5em;
	font-size: 1em;
	border: none;
}
.header .acciones .input-busqueda:focus {
	outline: none;
}

/* Main */
.main {
	min-height: 80vh;
	padding: 2em;
}
.main .cont-flex {
	display: flex;
	justify-content: space-evenly;
	flex-wrap: wrap;
}


/* Footer */
.footer {
	padding-bottom: 2em;
}



/* Template card */
.card {
	max-width: 100%;
	width: 300px;
	background-color: #fff;
	box-shadow: -6px 7px 0px #6f6f6f;
	border: 3px solid #111;
	margin-bottom: 2em;
}
.card-head {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 1em;
	padding-top: 1.5em;
}
.card-head > span.id {
	display: block;
	width: 100%;
	text-align: right;
	font-size: 2em;
}
.card-head .img {
	width: 75%;
	aspect-ratio: 1 / 1;
	border-bottom: 3px solid #111;
}
.card-head .titulo {
	margin: 1em 0;
	font-size: 1.4em;
	display: grid;
	grid-template-columns: auto auto auto;
	grid-column-gap: .4em;
}
.card-head .titulo .hp {
	margin-left: .5em;
}
.card-head .dato-claro {
	color: #6a6a6a;
}
.card-head .experiencia {
	margin: 0;
	font-size: 1.1em;
	font-weight: 700;
}
.card-body {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	align-self: center;
	border-top: 2px solid #444;
	padding: 1em .5em;
}
.card-body .item {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
}
.card-body .item .valor-item {
	display: flex;
	margin-bottom: .5em;
}
.card-body .item .valor-item .material-icons{
	margin-right: .4em;
	font-size: .95em;
}
.card-body .item .valor-item .cantidad {
	font-size: .95em;
}
.card-body .item .nombre-item {
	font-size: .95em;
}


.cont-spinner {
	height: calc(100vh - 60px);
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.cont-spinner.oculto {
	display: none;
}
.cont-spinner > h3#avisoCartasCargadas.oculto {
	display: none;
	text-align: center;
}
.cont-spinner > .spinner {
  border: 4px solid #111;
  border-left-color: transparent;
  width: 45px;
  height: 45px;
  border-radius: 50%;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}